/*========MEDIA QUERY==============*/
@media screen and (min-width: 200px) and (max-width:700px){
	.main-quick{
		display: none;
	}
	.navbar-brand {
		width: 100%;
		margin: 20px auto;


	}
	.customer-logos{
		display: none;
	}
	.search-box{
		display: none;
	}
	.cart{
		display: none;
	}
	.download-pic{
		display: none;
	}
	.hiddenbanner{
		display: block;
	}
	.time-box-row .tim-box{
		display: none;
	}
	.time-box-row .m-1{
	 	display: none;
	 }
	
}